#p1{
    color: black;
}
#p3{
    background-image: url(./../../assets/photo-1517999349371-c43520457b23.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
   
}
