<br/>
<div id="p3">
    <p id="p1"><br/><br/>
        Users access an airline’s inventory through an availability display. 
        It contains all offered flights for a particular city-pair with their available seats in the different booking classes. This display contains flights which are operated by the airline itself 
        as well as code share flights which are operated in co-operation with another airline. 
        If the city pair is not one on which the airline offers service, it may display a connection using its own flights or display
         the flights of other airlines. The availability of seats of other airlines is updated through standard industry interfaces. Depending on the type of co-operation, 
        it supports access to the last seat (last seat availability) in real-time
    </p>
   
        <p id="p1"><br/><br/>
            Airline reservation systems incorporate airline schedules, fare tariffs, passenger reservations and ticket records. 
            An airline's direct distribution works within their own reservation system, as well as pushing out information to the GDS. The second type of direct distribution channel are consumers who use the internet or mobile applications to make their own reservations.
             Travel agencies and other indirect distribution channels access the same GDS as those accessed by the airline reservation systems,
             and all messaging is transmitted by a standardized messaging system that functions on two types of messaging that transmit on SITA's high level network (HLN).
              These messaging types are called Type A [usually EDIFACT format] for real time interactive communication and Type B [TTY] for informational and
              booking type of messages. Message construction standards set by IATA and ICAO, are global,
              and apply to more than air transportation. Since airline reservation systems are business critical applications, and they are functionally quite complex, the operation of an in-house airline reservation system is relatively expensive.
        </p>
        <marquee>
            <img src="./../../assets/photo-1436491865332-7a61a109cc05.jpg" height="100px" width="100px">&nbsp;&nbsp;
            <img src="./../../assets/Q62V4IEQWEXDYBEWKC7LEB3KQU.jpg" height="100px" width="100px">
            </marquee>   
                                                                                                                                                                                                                                                                                                                                                 
       
        </div>
        <br/><br/>    

    
