
<app-header></app-header>
<app-footer></app-footer>
<!-- <app-simple></app-simple> -->



 <!--<div style="margin:100px 100px">
</div>
<div><p>The primary goal of this project is to allow passengers to add, edit and delete flight bookings. When the passenger visits the site for the first time, the passenger can register their details as part of the flight booking process. In addition, the passenger will be given
     login details when they register in case they need to make changes to their existing bookings or make new bookings in the future. The airport staff will also have login details.
    </p><br/>
    <p>
        Passengers will be able to check-in via the self-service check-in; also airport staff can provide full-service check-in. In addition, 
        a list can be created showing passengers with overweight luggage for business and economy class as well as a combined list of both classes.
    
    </p>
    <br/>
    <marquee>
    <img src="./../assets/logo2.png" height="90px" width="90px">&nbsp;&nbsp;
    <img src="./../assets/logo3.png" height="90px" width="90px">&nbsp;&nbsp;
    
    <img src="./../assets/logo1.png" height="90px" width="90px">
    </marquee>
    <p>
        This system also allows passengers to arrange special requirements such as vegetarian food. Passengers can also choose specific seats they prefer. Reservation department does the booking; however, the ticketing department also can also access it and make reservations for passengers.
         Reservation and Ticketing departments are linked together and can access the same database. KOMMAS have a specific code for system users. 
        </p>
    </div> -->
    <router-outlet></router-outlet>
    